extends layout

block content
    h1= title
    p Below is JSON data from #{title}
    hr
    | Film name is <strong>#{j_title}</strong>
    p The film description is <strong>#{des}</strong>
    | The director is <strong>#{dir}</strong>

